<div class="metric">
  <div class="metric__icon">
    <div class="metric__dot"></div>
  </div>
  <div>
    <p class="metric__value">{{ value }}</p>
    <p class="metric__label">{{ label }}</p>
  </div>
</div>

